/Modulo_10430.class
/GCD_LCM_2609.class
/LCM_1934.class
/PrimeNumber_1978.class
/PrimeNumber_Plus_6588.class
/Factorial_10872.class
/Factorial_0Num_1676.class
/Combination_2004.class
/Combination_num0_2004.class
